# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Python generated
*__pycache__*

# System files
.cproject
.project
.DS_Store
*~

# Log files
logSarsa*
logPlot*
*(Saskatoon)*
*(Pearl)*
graph*.pdf
graph*.png